
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

body > header{
    background-color: rgb(30, 104, 108);
    padding: 24px 16px;
    color: #fff;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
}

header li a{
    color: #fff;
    font-size: 22px;
    padding: 0 8px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
}

header h1{
    letter-spacing: 10px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
}

.article{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.article article{
    color: rgb(30, 104, 108);
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 40px;
    font-size: large;
}

.article img{
    width: 40%;
}

.container h2{
    padding: 16px 0px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(30, 104, 108);
}

.container h3{
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    padding: 16px 0;
    color: rgb(30, 104, 108);
}

#contact .container{
    display: block;
}

.contact-meth{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

form input,
textarea,
button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    font-weight: bold;
}

form textarea{
    resize: none;
    height: 180px;
}


.supers img{
    height: 200px;
}

.supers li{
    margin: 0 20px;
    display: inline;
}

form button{
    background-color: rgb(30, 104, 108);
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(57, 113, 116);
}

input:focus,
textarea:focus{
    outline-color: rgb(30, 104, 108);
}

footer{
    color: #fff;
    background-color: rgb(30, 104, 108);
    padding: 16px 0;
}